<h1>Skate Park</h1>
<a href="/">Ir a inicio</a>

<div class="py-5">
  <h2>Iniciar Sesión</h2>
  <hr />

  <form id="formLogin">
    <div class="form-group">
      <div class="mb-3">
        <label>Email</label>
        <input class="form-control w-50 m-auto" id="email" />
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input class="form-control w-50 m-auto" id="password" />
      </div>
    </div>
    <button type="submit" class="btn btn-success mb-3">Ingresar</button>
    <p>¿Aún no tienes cuenta? <a href="/registro">Regístrate</a></p>
  </form>
</div>